body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: rgb(241, 238, 238);
  }
  ul { 

    margin: 10px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align:end;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: rgb(27, 26, 26);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(56, 50, 50);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  /* hero */

  body, html {
    height: 90vh;
}

/* The hero image */body, html {
    height: 50vh;
  }
  
  /* The hero image */
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    /* Set a specific height */
    height: 50vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
 /* Hero start */
 .hero-image {
  background: url('my-mobile-hero-image.jpg') no-repeat center top;
  background-size: cover;
}
@media (min-width: 768px) {
  background: url('my-hero-image.jpg') no-repeat center top;
}